# Data Science Tools and Ecosystem

## Author:
Craig Michie

 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
    <li>List popular languages for Data Science</li>
    <li>List common libraries used in Python by Data Scientists</li>
    <li>List some tools used by Data Scientists in a table format </li>
    <li>Perform basic arithmetics in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
  <li>Python.</li>
  <li>R</li>
  <li>Java</li>
  <li>C++</li>  
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
  <li>Scikit</li>
  <li>Pandas</li>
  <li>TensorFlow</li>
  <li>Keras</li>
  <li>MatplotLib</li>
  <li>seaborn</li>  
</ol>

| Data Science Tools |
| --- |
| Rstudio|
|Hadoop|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = 200/60
print("The time in hours is: ", hours)

The time in hours is:  3.3333333333333335